<tr class="calendar-header-cell">
    @if (ShowWeekNumbers)
    {
    <td>&nbsp;</td>
    }
    @foreach(var column in DaysOfWeek)
    {
    <td>@CurrentCulture.DateTimeFormat.GetAbbreviatedDayName(column)</td>
    }
</tr>

@code {

    [Parameter]
    public IEnumerable<DayOfWeek> DaysOfWeek { get; set; }

    [Parameter]
    public System.Globalization.CultureInfo CurrentCulture { get; set; }

    [Parameter]
    public bool ShowWeekNumbers { get; set; } = true;
}
