<span class="@GetCssDecorationClass()">
    @CalendarDay.Date.Day
    @if (!string.IsNullOrWhiteSpace(GetCssDecorationClass()))
    {
    <span class="dismiss" style="padding: 0px;" @onclick="async() => await OnReset.InvokeAsync(this)">🗙</span>
    }
</span>

@code {
    [Parameter]
    public DateTime? StartDate { get; set; }

    [Parameter]
    public DateTime? EndDate { get; set; }

    [Parameter]
    public CalendarDay CalendarDay { get; set; }

    [Parameter]
    public EventCallback OnReset { get; set; }

    private string GetCssDecorationClass()
    {
        if (StartDate == CalendarDay.Date && !EndDate.HasValue)
        {
            return "tooltip-top";
        }

        if (EndDate == CalendarDay.Date)
        {
            return "tooltip-bottom";
        }

        return string.Empty;
    }
}

