.calendar-enabled-cell {
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

    .calendar-enabled-cell:hover {
        background-color: #225fa9;
        color: white;
    }
